[Unit]
Description=Template for setting a static IP on boot (legacy TV setup)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c 'ip link set wlan0 up && ip addr add 192.168.123.3/24 dev wlan0 && ip route add default via 192.168.123.1 && echo "nameserver 192.168.123.1" > /etc/resolv.conf && echo "search home.arpa" >> /etc/resolv.conf'
ExecStop=/bin/bash -c 'ip link set wlan0 down'
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

